data/*.rar
data/raw/blackbox/train/*
data/raw/blackbox/test/*
data/raw/rl/train/*
data/raw/rl/test/*
data/processed/blackbox/train/*
data/processed/blackbox/test/*
data/processed/rl/train/*
data/processed/rl/test/*
data/interim/blackbox/train/*
data/interim/blackbox/test/*
data/interim/rl/train/*
data/interim/rl/test/*
data/evaded/modified/*
data/evaded/original/*
data/Dataset/*
.python-version
src/malware_gym/envs/action/trusted/AwesomenautsLauncher.exe
src/malware_gym/envs/action/trusted/BdeUISrv.exe
src/malware_gym/envs/action/trusted/cmdl32.exe
src/malware_gym/envs/action/trusted/DDConfigCA.exe
src/malware_gym/envs/action/trusted/dpapimig.exe
src/malware_gym/envs/action/trusted/embeddedapplauncher.exe
src/malware_gym/envs/action/trusted/file-fits.exe
src/malware_gym/envs/action/trusted/flame.exe
src/malware_gym/envs/action/trusted/fusagent.exe
src/malware_gym/envs/action/trusted/IAStorHelp.exe
src/malware_gym/envs/action/trusted/idc.exe
src/malware_gym/envs/action/trusted/imagemap.exe
src/malware_gym/envs/action/trusted/iwarp.exe
src/malware_gym/envs/action/trusted/logread.exe
src/malware_gym/envs/action/trusted/ncdump.exe
src/malware_gym/envs/action/trusted/nl-filter.exe
src/malware_gym/envs/action/trusted/OIS.EXE
src/malware_gym/envs/action/trusted/pg_config.exe
src/malware_gym/envs/action/trusted/PSEditor.exe
src/malware_gym/envs/action/trusted/qdbuscpp2xml.exe
src/malware_gym/envs/action/trusted/readelf.exe
src/malware_gym/envs/action/trusted/RuntimeBroker.exe
src/malware_gym/envs/action/trusted/sample-colorize.exe
src/malware_gym/envs/action/trusted/sihost.exe
src/malware_gym/envs/action/trusted/SKYPESERVER.EXE
src/malware_gym/envs/action/good_strings/ab.txt
src/malware_gym/envs/action/good_strings/AcroRd32.txt
src/malware_gym/envs/action/good_strings/AddOnsProductInstaller.txt
src/malware_gym/envs/action/good_strings/AdobeCollabSync.txt
src/malware_gym/envs/action/good_strings/AppxDebugSysTray.txt
src/malware_gym/envs/action/good_strings/awk.txt
src/malware_gym/envs/action/good_strings/bcp.txt
src/malware_gym/envs/action/good_strings/BitmapCreator.txt
src/malware_gym/envs/action/good_strings/BuildNotification.txt
src/malware_gym/envs/action/good_strings/certmgr.txt
src/malware_gym/envs/action/good_strings/cloog.txt
src/malware_gym/envs/action/good_strings/CodeCoverage.txt
src/malware_gym/envs/action/good_strings/CodedUITestBuilder.txt
src/malware_gym/envs/action/good_strings/collect2.txt
src/malware_gym/envs/action/good_strings/color-cube-analyze.txt
src/malware_gym/envs/action/good_strings/color-rotate.txt
src/malware_gym/envs/action/good_strings/CopyDatabaseWizard.txt
src/malware_gym/envs/action/good_strings/CorFlags.txt
src/malware_gym/envs/action/good_strings/CredentialUIBroker.txt
src/malware_gym/envs/action/good_strings/curve-bend.txt
src/malware_gym/envs/action/good_strings/Dashlane_Launcher.txt
src/malware_gym/envs/action/good_strings/dbus-daemon.txt
src/malware_gym/envs/action/good_strings/DDConfigCA.txt
src/malware_gym/envs/action/good_strings/desetup2.txt
src/malware_gym/envs/action/good_strings/destripe.txt
src/malware_gym/envs/action/good_strings/disco.txt
src/malware_gym/envs/action/good_strings/displace.txt
src/malware_gym/envs/action/good_strings/dllwrap.txt
src/malware_gym/envs/action/good_strings/dmxconvert.txt
src/malware_gym/envs/action/good_strings/dotfuscator.txt
src/malware_gym/envs/action/good_strings/driverquery.txt
src/malware_gym/envs/action/good_strings/DTExec.txt
src/malware_gym/envs/action/good_strings/dtshost.txt
src/malware_gym/envs/action/good_strings/dumpcpp.txt
src/malware_gym/envs/action/good_strings/Editor.txt
src/malware_gym/envs/action/good_strings/egrep.txt
src/malware_gym/envs/action/good_strings/envsubst.txt
src/malware_gym/envs/action/good_strings/eqnedt32.txt
src/malware_gym/envs/action/good_strings/fdlauncher.txt
src/malware_gym/envs/action/good_strings/ffprobe.txt
src/malware_gym/envs/action/good_strings/file-cel.txt
src/malware_gym/envs/action/good_strings/file-csource.txt
src/malware_gym/envs/action/good_strings/file-dicom.txt
src/malware_gym/envs/action/good_strings/file-gif-save.txt
src/malware_gym/envs/action/good_strings/file-html-table.txt
src/malware_gym/envs/action/good_strings/file-ico.txt
src/malware_gym/envs/action/good_strings/file-pat.txt
src/malware_gym/envs/action/good_strings/file-pdf-load.txt
src/malware_gym/envs/action/good_strings/file-pdf-save.txt
src/malware_gym/envs/action/good_strings/file-ps.txt
src/malware_gym/envs/action/good_strings/file-psd-load.txt
src/malware_gym/envs/action/good_strings/file-sgi.txt
src/malware_gym/envs/action/good_strings/file-wmf.txt
src/malware_gym/envs/action/good_strings/file-xbm.txt
src/malware_gym/envs/action/good_strings/file-xwd.txt
src/malware_gym/envs/action/good_strings/flame.txt
src/malware_gym/envs/action/good_strings/fractal-explorer.txt
src/malware_gym/envs/action/good_strings/gcc-ranlib.txt
src/malware_gym/envs/action/good_strings/gdbserver.txt
src/malware_gym/envs/action/good_strings/gettext.txt
src/malware_gym/envs/action/good_strings/gnutls-cli-debug.txt
src/malware_gym/envs/action/good_strings/GoogleUpdateBroker.txt
src/malware_gym/envs/action/good_strings/gui-32.txt
src/malware_gym/envs/action/good_strings/gui-64.txt
src/malware_gym/envs/action/good_strings/h5diff.txt
src/malware_gym/envs/action/good_strings/h5ls.txt
src/malware_gym/envs/action/good_strings/h5mkgrp.txt
src/malware_gym/envs/action/good_strings/h5perf_serial.txt
src/malware_gym/envs/action/good_strings/IAStorIcon.txt
src/malware_gym/envs/action/good_strings/ielowutil.txt
src/malware_gym/envs/action/good_strings/ImagingDevices.txt
src/malware_gym/envs/action/good_strings/install_supportsoftware.txt
src/malware_gym/envs/action/good_strings/iwarp.txt
src/malware_gym/envs/action/good_strings/java.txt
src/malware_gym/envs/action/good_strings/javacpl.txt
src/malware_gym/envs/action/good_strings/joticon.txt
src/malware_gym/envs/action/good_strings/language.txt
src/malware_gym/envs/action/good_strings/lcclib64.txt
src/malware_gym/envs/action/good_strings/less.txt
src/malware_gym/envs/action/good_strings/limits.txt
src/malware_gym/envs/action/good_strings/loader.txt
src/malware_gym/envs/action/good_strings/LoLLCUVNLauncher.txt
src/malware_gym/envs/action/good_strings/MakeZipExe.txt
src/malware_gym/envs/action/good_strings/maze.txt
src/malware_gym/envs/action/good_strings/mbxmaint.txt
src/malware_gym/envs/action/good_strings/mercury.txt
src/malware_gym/envs/action/good_strings/migrate.txt
src/malware_gym/envs/action/good_strings/mip.txt
src/malware_gym/envs/action/good_strings/ModelCompiler.txt
src/malware_gym/envs/action/good_strings/mosaic.txt
src/malware_gym/envs/action/good_strings/MpUXSrv.txt
src/malware_gym/envs/action/good_strings/mtta.txt
src/malware_gym/envs/action/good_strings/mwdot.txt
src/malware_gym/envs/action/good_strings/mwtwopi.txt
src/malware_gym/envs/action/good_strings/NetCfgNotifyObjectHost.txt
src/malware_gym/envs/action/good_strings/nl-filter.txt
src/malware_gym/envs/action/good_strings/nvcontainer.txt
src/malware_gym/envs/action/good_strings/NVIDIA.SteamLauncher.txt
src/malware_gym/envs/action/good_strings/nvsphelper64.txt
src/malware_gym/envs/action/good_strings/odbcad32.txt
src/malware_gym/envs/action/good_strings/oilify.txt
src/malware_gym/envs/action/good_strings/oldfind.txt
src/malware_gym/envs/action/good_strings/ooxmlConvertInstaller.txt
src/malware_gym/envs/action/good_strings/pagecurl.txt
src/malware_gym/envs/action/good_strings/pg_config.txt
src/malware_gym/envs/action/good_strings/pgawk-3.1.7.txt
src/malware_gym/envs/action/good_strings/pgawk.txt
src/malware_gym/envs/action/good_strings/pgocvt.txt
src/malware_gym/envs/action/good_strings/pgomgr.txt
src/malware_gym/envs/action/good_strings/pkg-config.txt
src/malware_gym/envs/action/good_strings/polar-coords.txt
src/malware_gym/envs/action/good_strings/print.txt
src/malware_gym/envs/action/good_strings/PrintWiz.txt
src/malware_gym/envs/action/good_strings/proj.txt
src/malware_gym/envs/action/good_strings/PSEditor.txt
src/malware_gym/envs/action/good_strings/PsiService_2.txt
src/malware_gym/envs/action/good_strings/psktool.txt
src/malware_gym/envs/action/good_strings/psql.txt
src/malware_gym/envs/action/good_strings/qmleasing.txt
src/malware_gym/envs/action/good_strings/qmlimportscanner.txt
src/malware_gym/envs/action/good_strings/qmllint.txt
src/malware_gym/envs/action/good_strings/qmlmin.txt
src/malware_gym/envs/action/good_strings/Repair.txt
src/malware_gym/envs/action/good_strings/rescom.txt
src/malware_gym/envs/action/good_strings/ripple.txt
src/malware_gym/envs/action/good_strings/rotatelogs.txt
src/malware_gym/envs/action/good_strings/rpcinfo.txt
src/malware_gym/envs/action/good_strings/RSKeyMgmt.txt
src/malware_gym/envs/action/good_strings/RunLegacyCPLElevated.txt
src/malware_gym/envs/action/good_strings/sed.txt
src/malware_gym/envs/action/good_strings/session_helper.txt
src/malware_gym/envs/action/good_strings/setreg.txt
src/malware_gym/envs/action/good_strings/sllauncher.txt
src/malware_gym/envs/action/good_strings/SourceServer.txt
src/malware_gym/envs/action/good_strings/sphere-designer.txt
src/malware_gym/envs/action/good_strings/SQLPS.txt
src/malware_gym/envs/action/good_strings/sqlsqm.txt
src/malware_gym/envs/action/good_strings/sqlwriter.txt
src/malware_gym/envs/action/good_strings/SqlWtsn.txt
src/malware_gym/envs/action/good_strings/SSBDiagnose.txt
src/malware_gym/envs/action/good_strings/Ssms.txt
src/malware_gym/envs/action/good_strings/ssvagent.txt
src/malware_gym/envs/action/good_strings/SystemPropertiesAdvanced.txt
src/malware_gym/envs/action/good_strings/SystemPropertiesComputerName.txt
src/malware_gym/envs/action/good_strings/SystemPropertiesHardware.txt
src/malware_gym/envs/action/good_strings/SystemResetOSUpdates.txt
src/malware_gym/envs/action/good_strings/t32.txt
src/malware_gym/envs/action/good_strings/TailoredDeploy.txt
src/malware_gym/envs/action/good_strings/takeown.txt
src/malware_gym/envs/action/good_strings/tar.txt
src/malware_gym/envs/action/good_strings/TCM.txt
src/malware_gym/envs/action/good_strings/TestAgentInstaller.txt
src/malware_gym/envs/action/good_strings/TextureCompiler.txt
src/malware_gym/envs/action/good_strings/TF.txt
src/malware_gym/envs/action/good_strings/TFSBuild.txt
src/malware_gym/envs/action/good_strings/tile-paper.txt
src/malware_gym/envs/action/good_strings/uic.txt
src/malware_gym/envs/action/good_strings/unit-editor.txt
src/malware_gym/envs/action/good_strings/unsecapp.txt
src/malware_gym/envs/action/good_strings/unsharp-mask.txt
src/malware_gym/envs/action/good_strings/unzipsfx.txt
src/malware_gym/envs/action/good_strings/vcpkgsrv.txt
src/malware_gym/envs/action/good_strings/VideoBrowser.txt
src/malware_gym/envs/action/good_strings/vlc-cache-gen.txt
src/malware_gym/envs/action/good_strings/vlc.txt
src/malware_gym/envs/action/good_strings/vmware-kvm.txt
src/malware_gym/envs/action/good_strings/vmware-tray.txt
src/malware_gym/envs/action/good_strings/VMwareToolsUpgrader.txt
src/malware_gym/envs/action/good_strings/VMwareToolsUpgraderNT.txt
src/malware_gym/envs/action/good_strings/VSPerfCmd.txt
src/malware_gym/envs/action/good_strings/VSPerfSrv.txt
src/malware_gym/envs/action/good_strings/w32tm.txt
src/malware_gym/envs/action/good_strings/wabmig.txt
src/malware_gym/envs/action/good_strings/warp.txt
src/malware_gym/envs/action/good_strings/WavesSysSvc64.txt
src/malware_gym/envs/action/good_strings/WCA.txt
src/malware_gym/envs/action/good_strings/WebpiCmd-x64.txt
src/malware_gym/envs/action/good_strings/wininst-6.0.txt
src/malware_gym/envs/action/good_strings/WinMgmt.txt
src/malware_gym/envs/action/good_strings/witadmin.txt
src/malware_gym/envs/action/good_strings/wmpnscfg.txt
src/malware_gym/envs/action/good_strings/wsendto.txt
src/malware_gym/envs/action/good_strings/wstracedump.txt
src/malware_gym/envs/action/good_strings/x86_64-w64-mingw32-gcc-ar.txt
src/malware_gym/envs/action/good_strings/x86_64-w64-mingw32-gcc-ranlib.txt
src/malware_gym/envs/action/good_strings/xampp_stop.txt
src/malware_gym/envs/action/good_strings/xmllint.txt
src/malware_gym/envs/action/good_strings/zipinfo.txt
src/malware_gym/envs/action/trusted/ab.exe
src/malware_gym/envs/action/trusted/ACCICONS.EXE
src/malware_gym/envs/action/trusted/AcroRd32.exe
src/malware_gym/envs/action/trusted/AddOnsProductInstaller.exe
src/malware_gym/envs/action/trusted/AdobeCollabSync.exe
src/malware_gym/envs/action/trusted/AppxDebugSysTray.exe
src/malware_gym/envs/action/trusted/awk.exe
src/malware_gym/envs/action/trusted/bcp.exe
src/malware_gym/envs/action/trusted/BitmapCreator.exe
src/malware_gym/envs/action/trusted/BuildNotification.exe
src/malware_gym/envs/action/trusted/certmgr.exe
src/malware_gym/envs/action/trusted/cloog.exe
src/malware_gym/envs/action/trusted/CLVIEW.EXE
src/malware_gym/envs/action/trusted/CodeCoverage.exe
src/malware_gym/envs/action/trusted/CodedUITestBuilder.exe
src/malware_gym/envs/action/trusted/collect2.exe
src/malware_gym/envs/action/trusted/color-cube-analyze.exe
src/malware_gym/envs/action/trusted/color-rotate.exe
src/malware_gym/envs/action/trusted/CopyDatabaseWizard.exe
src/malware_gym/envs/action/trusted/CorFlags.exe
src/malware_gym/envs/action/trusted/CredentialUIBroker.exe
src/malware_gym/envs/action/trusted/curve-bend.exe
src/malware_gym/envs/action/trusted/Dashlane_Launcher.exe
src/malware_gym/envs/action/trusted/dbus-daemon.exe
src/malware_gym/envs/action/trusted/desetup2.exe
src/malware_gym/envs/action/trusted/destripe.exe
src/malware_gym/envs/action/trusted/disco.exe
src/malware_gym/envs/action/trusted/displace.exe
src/malware_gym/envs/action/trusted/dllwrap.exe
src/malware_gym/envs/action/trusted/dmxconvert.exe
src/malware_gym/envs/action/trusted/dotfuscator.exe
src/malware_gym/envs/action/trusted/driverquery.exe
src/malware_gym/envs/action/trusted/DTExec.exe
src/malware_gym/envs/action/trusted/dtshost.exe
src/malware_gym/envs/action/trusted/dumpcpp.exe
src/malware_gym/envs/action/trusted/Editor.exe
src/malware_gym/envs/action/trusted/egrep.exe
src/malware_gym/envs/action/trusted/envsubst.exe
src/malware_gym/envs/action/trusted/eqnedt32.exe
src/malware_gym/envs/action/trusted/extract_strings.sh
src/malware_gym/envs/action/trusted/fdlauncher.exe
src/malware_gym/envs/action/trusted/ffprobe.exe
src/malware_gym/envs/action/trusted/file-cel.exe
src/malware_gym/envs/action/trusted/file-csource.exe
src/malware_gym/envs/action/trusted/file-dicom.exe
src/malware_gym/envs/action/trusted/file-gif-save.exe
src/malware_gym/envs/action/trusted/file-html-table.exe
src/malware_gym/envs/action/trusted/file-ico.exe
src/malware_gym/envs/action/trusted/file-pat.exe
src/malware_gym/envs/action/trusted/file-pdf-load.exe
src/malware_gym/envs/action/trusted/file-pdf-save.exe
src/malware_gym/envs/action/trusted/file-ps.exe
src/malware_gym/envs/action/trusted/file-psd-load.exe
src/malware_gym/envs/action/trusted/file-sgi.exe
src/malware_gym/envs/action/trusted/file-wmf.exe
src/malware_gym/envs/action/trusted/file-xbm.exe
src/malware_gym/envs/action/trusted/file-xwd.exe
src/malware_gym/envs/action/trusted/fractal-explorer.exe
src/malware_gym/envs/action/trusted/gcc-ranlib.exe
src/malware_gym/envs/action/trusted/gdbserver.exe
src/malware_gym/envs/action/trusted/gettext.exe
src/malware_gym/envs/action/trusted/gnutls-cli-debug.exe
src/malware_gym/envs/action/trusted/GoogleUpdateBroker.exe
src/malware_gym/envs/action/trusted/gui-32.exe
src/malware_gym/envs/action/trusted/gui-64.exe
src/malware_gym/envs/action/trusted/h5diff.exe
src/malware_gym/envs/action/trusted/h5ls.exe
src/malware_gym/envs/action/trusted/h5mkgrp.exe
src/malware_gym/envs/action/trusted/h5perf_serial.exe
src/malware_gym/envs/action/trusted/IAStorIcon.exe
src/malware_gym/envs/action/trusted/ielowutil.exe
src/malware_gym/envs/action/trusted/ImagingDevices.exe
src/malware_gym/envs/action/trusted/IMJPUEX.EXE
src/malware_gym/envs/action/trusted/install_supportsoftware.exe
src/malware_gym/envs/action/trusted/java.exe
src/malware_gym/envs/action/trusted/javacpl.exe
src/malware_gym/envs/action/trusted/joticon.exe
src/malware_gym/envs/action/trusted/language.exe
src/malware_gym/envs/action/trusted/lcclib64.exe
src/malware_gym/envs/action/trusted/less.exe
src/malware_gym/envs/action/trusted/Lien Minh Huyen Thoai.exe
src/malware_gym/envs/action/trusted/limits.exe
src/malware_gym/envs/action/trusted/loader.exe
src/malware_gym/envs/action/trusted/LoLLCUVNLauncher.exe
src/malware_gym/envs/action/trusted/MakeZipExe.exe
src/malware_gym/envs/action/trusted/maze.exe
src/malware_gym/envs/action/trusted/mbxmaint.exe
src/malware_gym/envs/action/trusted/mercury.exe
src/malware_gym/envs/action/trusted/migrate.exe
src/malware_gym/envs/action/trusted/mip.exe
src/malware_gym/envs/action/trusted/ModelCompiler.exe
src/malware_gym/envs/action/trusted/mosaic.exe
src/malware_gym/envs/action/trusted/MpUXSrv.exe
src/malware_gym/envs/action/trusted/MSOXMLED.EXE
src/malware_gym/envs/action/trusted/MSTORDB.EXE
src/malware_gym/envs/action/trusted/MSTORE.EXE
src/malware_gym/envs/action/trusted/mtta.exe
src/malware_gym/envs/action/trusted/mwdot.exe
src/malware_gym/envs/action/trusted/mwtwopi.exe
src/malware_gym/envs/action/trusted/NetCfgNotifyObjectHost.exe
src/malware_gym/envs/action/trusted/nvcontainer.exe
src/malware_gym/envs/action/trusted/NVIDIA.SteamLauncher.exe
src/malware_gym/envs/action/trusted/nvsphelper64.exe
src/malware_gym/envs/action/trusted/odbcad32.exe
src/malware_gym/envs/action/trusted/oilify.exe
src/malware_gym/envs/action/trusted/oldfind.exe
src/malware_gym/envs/action/trusted/ooxmlConvertInstaller.exe
src/malware_gym/envs/action/trusted/ORGCHART.EXE
src/malware_gym/envs/action/trusted/OSQL.EXE
src/malware_gym/envs/action/trusted/pagecurl.exe
src/malware_gym/envs/action/trusted/pgawk-3.1.7.exe
src/malware_gym/envs/action/trusted/pgawk.exe
src/malware_gym/envs/action/trusted/pgocvt.exe
src/malware_gym/envs/action/trusted/pgomgr.exe
src/malware_gym/envs/action/trusted/pkg-config.exe
src/malware_gym/envs/action/trusted/polar-coords.exe
src/malware_gym/envs/action/trusted/POWERPNT.EXE
src/malware_gym/envs/action/trusted/print.exe
src/malware_gym/envs/action/trusted/PrintWiz.exe
src/malware_gym/envs/action/trusted/proj.exe
src/malware_gym/envs/action/trusted/PsiService_2.exe
src/malware_gym/envs/action/trusted/psktool.exe
src/malware_gym/envs/action/trusted/psql.exe
src/malware_gym/envs/action/trusted/qmleasing.exe
src/malware_gym/envs/action/trusted/qmlimportscanner.exe
src/malware_gym/envs/action/trusted/qmllint.exe
src/malware_gym/envs/action/trusted/qmlmin.exe
src/malware_gym/envs/action/trusted/Repair.exe
src/malware_gym/envs/action/trusted/rescom.exe
src/malware_gym/envs/action/trusted/ripple.exe
src/malware_gym/envs/action/trusted/rotatelogs.exe
src/malware_gym/envs/action/trusted/rpcinfo.exe
src/malware_gym/envs/action/trusted/RSKeyMgmt.exe
src/malware_gym/envs/action/trusted/RunLegacyCPLElevated.exe
src/malware_gym/envs/action/trusted/sed.exe
src/malware_gym/envs/action/trusted/session_helper.exe
src/malware_gym/envs/action/trusted/setreg.exe
src/malware_gym/envs/action/trusted/sllauncher.exe
src/malware_gym/envs/action/trusted/SourceServer.exe
src/malware_gym/envs/action/trusted/sphere-designer.exe
src/malware_gym/envs/action/trusted/SQLPS.exe
src/malware_gym/envs/action/trusted/sqlsqm.exe
src/malware_gym/envs/action/trusted/sqlwriter.exe
src/malware_gym/envs/action/trusted/SqlWtsn.exe
src/malware_gym/envs/action/trusted/SSBDiagnose.exe
src/malware_gym/envs/action/trusted/Ssms.exe
src/malware_gym/envs/action/trusted/ssvagent.exe
src/malware_gym/envs/action/trusted/SystemPropertiesAdvanced.exe
src/malware_gym/envs/action/trusted/SystemPropertiesComputerName.exe
src/malware_gym/envs/action/trusted/SystemPropertiesHardware.exe
src/malware_gym/envs/action/trusted/SystemResetOSUpdates.exe
src/malware_gym/envs/action/trusted/t32.exe
src/malware_gym/envs/action/trusted/TailoredDeploy.exe
src/malware_gym/envs/action/trusted/takeown.exe
src/malware_gym/envs/action/trusted/tar.exe
src/malware_gym/envs/action/trusted/TCM.exe
src/malware_gym/envs/action/trusted/TestAgentInstaller.exe
src/malware_gym/envs/action/trusted/TextureCompiler.exe
src/malware_gym/envs/action/trusted/TF.exe
src/malware_gym/envs/action/trusted/TFSBuild.exe
src/malware_gym/envs/action/trusted/tile-paper.exe
src/malware_gym/envs/action/trusted/uic.exe
src/malware_gym/envs/action/trusted/unit-editor.exe
src/malware_gym/envs/action/trusted/unsecapp.exe
src/malware_gym/envs/action/trusted/unsharp-mask.exe
src/malware_gym/envs/action/trusted/unzipsfx.exe
src/malware_gym/envs/action/trusted/vcpkgsrv.exe
src/malware_gym/envs/action/trusted/VideoBrowser.exe
src/malware_gym/envs/action/trusted/vlc-cache-gen.exe
src/malware_gym/envs/action/trusted/vlc.exe
src/malware_gym/envs/action/trusted/vmware-kvm.exe
src/malware_gym/envs/action/trusted/vmware-tray.exe
src/malware_gym/envs/action/trusted/VMwareToolsUpgrader.exe
src/malware_gym/envs/action/trusted/VMwareToolsUpgraderNT.exe
src/malware_gym/envs/action/trusted/VSPerfCmd.exe
src/malware_gym/envs/action/trusted/VSPerfSrv.exe
src/malware_gym/envs/action/trusted/w32tm.exe
src/malware_gym/envs/action/trusted/wabmig.exe
src/malware_gym/envs/action/trusted/warp.exe
src/malware_gym/envs/action/trusted/WavesSysSvc64.exe
src/malware_gym/envs/action/trusted/WCA.exe
src/malware_gym/envs/action/trusted/WebpiCmd-x64.exe
src/malware_gym/envs/action/trusted/wininst-6.0.exe
src/malware_gym/envs/action/trusted/WinMgmt.exe
src/malware_gym/envs/action/trusted/WINWORD.EXE
src/malware_gym/envs/action/trusted/witadmin.exe
src/malware_gym/envs/action/trusted/wmpnscfg.exe
src/malware_gym/envs/action/trusted/wsendto.exe
src/malware_gym/envs/action/trusted/wstracedump.exe
src/malware_gym/envs/action/trusted/x86_64-w64-mingw32-gcc-ar.exe
src/malware_gym/envs/action/trusted/x86_64-w64-mingw32-gcc-ranlib.exe
src/malware_gym/envs/action/trusted/xampp_stop.exe
src/malware_gym/envs/action/trusted/xmllint.exe
src/malware_gym/envs/action/trusted/zipinfo.exe
